{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "parser": "@typescript-eslint/parser"
    },
    "plugins": [],
    "globals": {},
    "rules": {
        "indent": ["warn", 4, {"SwitchCase": 1}],
        "semi": [2, "always"],
        "space-before-function-paren": ["error", "never"],
        "comma-dangle": "off",
        "getter-return": "error",
        "no-console": "off",
        "no-prototype-builtins": "error",
        "no-unused-vars": ["error", {"argsIgnorePattern": "_", "args": "after-used"}],
        "vue/html-indent": ["warn", 4]
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "es6": true
    }
}
